*{
	margin: 0px ;
	padding: 0px ;
}
html{
	height: 100%;
}
#wrapper{
	color: white;
	text-align: center;
	margin:	0px auto;
	padding: 0px auto;
	width: 1024px;
}
body{
	height: 100%;
	background-color: #FAA458;
}
.form-control{
	width: 60%;
	display: inline;
	margin: 0px auto;
}

#search_formContainer{
	margin-top: 50px;
}

#result_formContainer{
	margin-top: 10px;
}
#topSearch{
	z-index:1;
	position: fixed;
	top: 0px;
	left: 0px;
	padding-left: 20px;
	padding-bottom: 25px;
	width: 100%;
	display: block;
	background-color:#FAA458;

}
#resultsContainer{
	display:block;
	position: absolute;
	margin-top: 75px;
	height: 100%;
	width: 100%;
	background-color: white;
}
